.wrapper {
    margin-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    width: 100%;
    background-color: #EAEAEA;
}
.content {
    background-color: white;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
}
.content__1, .content__2{
    background-color: #EAEAEA;
    height: 100px;
    width: 80%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}
.content__2 {

}
.box-cont {
    padding: 30px;
}
.content__3{
    margin: 0 auto;
    width: 20%;
}
.button {
    width: 80%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    font-weight: 600;
    border-radius: 5px;
    background-color: orange;
    &:hover {
        background-color: brown;
    }
}
.img-1, .img-2 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 5px;
}
.img1, .img2{
    width: 50%;
    height: 50%;
}
.img1, .img2 {
    position: relative;
    left: 20px;
    width: 10%;
    height: 10%;
}
.pay1, .pay2 {
    justify-content: center;
    width: 90%;
    line-height: 100px;
    text-align: center;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: black;
}
.address_pay {
    padding: 10px 30px 10px 30px;
    display: none;
    & .address_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}