.wrapper {
  margin-top: 100px;
}
.body {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.row {
  display: flex;
  flex-direction: row;
}
.item {
  padding: 20px;
}
.col1 {
  width: 20%;
}
.col2 {
  width: 80%;
}
.list-item {
  margin: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
  transition: all 0.4s ease-out;
  & li {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    & a {
      font-size: large;
      font-weight: 500;
      color: #000000;
      cursor: pointer;
    }
    & a:hover {
      color: rgb(29, 123, 205);
    }
  }
}

///////////
.grid
{
    max-width: 100%;
    margin: 0 auto;
}
.grid__row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.grid__column-75
{
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}

.grid__column-25
{
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}