.wrapper {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    background-color: #EAEAEA;
}

.address {
    padding: 15px;
}

.address_current {
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: row;
}

.content__1 {
    width: 30%;

    & .content__1-nav {
        height: 100%;
        width: 40%;
        position: absolute;
        left: 20px;
    }
}

.content__2 {
    width: 70%;
    margin-bottom: 100px;
    & .address__row1,
    .address__row2 {
        display: flex;
        flex-direction: row;

        & .address__row1-col1 {
            width: 50%;
        }

        & .address__row1-col2 {
            width: 50%;
        }

        & .address__row2-col1 {
            width: 50%;
        }

        & .address__row2-col2 {
            width: 50%;
        }
    }
    & .address__row2 {
        position: relative;
        top: 50px;
    }
    & .content__2-header{
        padding-bottom: 20px;
        & button {
            background-color: #1AC67E;
            border:none;
            border-radius: 10px;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
}